@import '~antd/dist/antd.css';

#root,
.ant-layout {
    height: 100%;
}


/* 滚动条优化样式 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: #b2bec3
}

::-webkit-scrollbar-track {
    background-color: #ddd
}